{% extends "base.html" %}
{% block title %}SSIS | COURSE{% endblock title %}
{% block content %}

<!-- NAVIGATION -->
<div class="sidenav">
    <ul>
        <div class="nav-logo">
            <img src="{{ url_for('static', filename='images/Student-Info Logo.png') }}"> 
            <p>STUDENT INFORMATION SYSTEM</p>
        </div>
        <a href="{{ url_for('index') }}">
            <li class="icon-bg">
                <img src="{{ url_for('static', filename='images/Home.png') }}"> 
                <p>Home</p>
            </li>
        </a>  
        <a href="{{ url_for('college.college_list') }}">
            <li class="icon-bg">
                <img src="{{ url_for('static', filename='images/College.png') }}"> 
                <p>College</p>
            </li>
        </a>
        <li class="selected-icon-bg">
            <img src="{{ url_for('static', filename='images/Course.png') }}"> 
            <p>Course</p>
        </li>
        <a href="{{ url_for('student.student_list') }}">
            <li class="icon-bg">
                <img src="{{ url_for('static', filename='images/Student.png') }}"> 
                <p>Student</p>
            </li>
        </a>
    </ul>
</div>

<div class="navbar add">
    <div class="back-icon">
        <a href="{{ url_for('course.course_list') }}">
            <img src="{{ url_for('static', filename='images/back-icon.png') }}">
        </a>
    </div>
    <p>ADD COURSE</p>
</div>

<!-- ADD COURSE FORM -->
<form action="/course/add/" method="POST">
    {{ course_form.csrf_token }}
    <div class="inputBox code">
        <input type="text" required="required" name="course_code">
        <span>CODE</span>
    </div>
    <div class="inputBox name">
        <input type="text" required="required" name="course_name">
        <span>NAME</span>
    </div>

    <div class="custom-select college">
        <select name="college_code" id="college-options" required style="
        width: 450px;
        height: 40px;
        border-radius: 5px;
        background-color: #FF84B1;
        border: 2px solid #FF84B1;
        color: #FFFFFF;
        font-size: 16px;
        padding: 5px;
        outline: none;
        cursor: pointer;">
            <option value="" selected disabled style="color: gainsboro; background-color: white;">COLLEGE</option>
            {% for college_code in college_codes %}
                <option value="{{college_code}}" data-value="{{college_code}}" style="
                color: black; 
                background-color: white;
                height: 40px;
                ">{{college_code}}</option>
            {% endfor %}
        </select>
    </div>    
    <div class="container">
        <button class="btn btn3" id="submit-button" type="submit">SUBMIT</button>
    </div>
</form>

<div class="sideicon">
    <img src="{{ url_for('static', filename='images/COURSE ICON.png') }}" width="380">
</div>

{% if success %}
    <div id="successModal" class="modal" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Success</h1>
                </div>
                <div class="modal-body">
                    Course added successfully!
                </div>
                <a href="{{ url_for('course.course_list') }}">
                    <div class="modal-footer">
                        <button type="button" class="btn-done">DONE</button>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% elif error %}
    <div id="errorModal" class="modal" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Error</h1>
                </div>
                <div class="modal-body">
                    Unable to add, course already exists.
                </div>
                <a href="{{ url_for('course.course_list') }}">
                    <div class="modal-footer">
                        <button type="button" class="btn-done">OKAY</button>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}  