{% extends "base.html" %}
{% block title %}SSIS | COLLEGE{% endblock title %}
{% block content %}

<!-- NAVIGATION -->
<nav>
    <ul>
        <li class="current tab"><a href="{{ url_for('college.college_list') }}">COLLEGE</a></li>
        <li><a href="{{ url_for('course.course_list') }}">COURSE</a></li>
        <li><a href="{{ url_for('student.student_list') }}">STUDENT</a></li>
    </ul>
</nav>

<div class="entity bg"></div>
<div class="back-icon"><a href="{{ url_for('college.college_list') }}"><img src="{{ url_for('static', filename='images/back-icon.png') }}"></a></div>
<div class="entity heading">ADD COLLEGE</div>

<!-- ADD COLLEGE FORM -->
<form action="/college/add/" method="POST">
    {{ college_form.csrf_token }}
    <div class="inputBox code">
        <input type="text" required="required" name="college_code">
        <span>CODE</span>
    </div>
    <div class="inputBox name">
        <input type="text" required="required" name="college_name">
        <span>NAME</span>
    </div>
    <div class="container">
        <button class="btn btn1" type="submit">SUBMIT</button>
    </div>
    <p class="message-text success" id="success_message">
        {% if success_message %}
            {{ success_message }}
        {% endif %}
    </p>
    <p class="message-text error" id="error_message">
        {% if error_message %}
            {{ error_message }}
        {% endif %}
    </p>
</form>

<div class="sideicon"><img src="{{ url_for('static', filename='images/COLLEGE ICON.png') }}" width="350"></div>

{% endblock %}  