{% extends "base.html" %}
{% block title %}SSIS | COURSE{% endblock title %}
{% block content %}
<nav>
    <ul>
        <li><a href="{{ url_for('college.index') }}">COLLEGE</a></li>
        <li class="current tab"><a href="{{ url_for('course.index') }}">COURSE</a></li>
        <li><a href="{{ url_for('student.index') }}">STUDENT</a></li>
    </ul>
</nav>

<div class="addentity bg"></div>
<div class="backicon"><a href="{{ url_for('course.course_list') }}"><img src="{{ url_for('static', filename='images/back-icon.png') }}"></a></div>
<div class="addentityheading">ADD COURSE</div>

<div class="inputBox code">
    <input type="text" required="required">
    <span>CODE</span>
</div>

<div class="inputBox name">
    <input type="text" required="required">
    <span>NAME</span>
</div>






<div class="container">
    <button class="btn btn1">SUBMIT</button>
</div>

<div class="sideicon"><img src="{{ url_for('static', filename='images/COURSE ICON.png') }}" width="350"></div>
{% endblock %}  