{% extends "base.html" %}
{% block title %}SSIS | STUDENT{% endblock title %}
{% block content %}
<nav>
    <ul>
        <li><a href="{{ url_for('college.index') }}">COLLEGE</a></li>
        <li><a href="{{ url_for('course.index') }}">COURSE</a></li>
        <li class="current tab"><a href="{{ url_for('student.index') }}">STUDENT</a></li>
    </ul>
</nav>

<div class="addentity bg"></div>
<div class="backicon"><a href="{{ url_for('student.student_list') }}"><img src="{{ url_for('static', filename='images/back-icon.png') }}"></a></div>
<div class="addentityheading">ADD STUDENT</div>

<div class="inputBox id">
    <input type="text" required="required">
    <span>ID NUMBER</span>
</div>

<div class="inputBox fname">
    <input type="text" required="required">
    <span>FIRST NAME</span>
</div>

<div class="inputBox lname">
    <input type="text" required="required">
    <span>LAST NAME</span>
</div>

<div class="custom-dropdown gender">
    <div class="dropdown-select" id="gender-dropdown">GENDER</div>
    <div class="dropdown-options" id="gender-options">
        <div class="dropdown-option" data-value="FEMALE">FEMALE</div>
        <div class="dropdown-option" data-value="MALE">MALE</div>
    </div>
</div>

<div class="custom-dropdown yearlevel">
    <div class="dropdown-select" id="ylevel-dropdown">YEAR LEVEL</div>
    <div class="dropdown-options" id="ylevel-options">
        <div class="dropdown-option" data-value="1ST YEAR">1ST YEAR</div>
        <div class="dropdown-option" data-value="2ND YEAR">2ND YEAR</div>
        <div class="dropdown-option" data-value="3RD YEAR">3RD YEAR</div>
        <div class="dropdown-option" data-value="4TH YEAR">4TH YEAR</div>
    </div>
</div>

<div class="custom-dropdown course">
    <div class="dropdown-select course" id="course-dropdown">COURSE</div>
    <div class="dropdown-options" id="course-options">
        <div class="dropdown-option" data-value="BSCS">BSCS</div>
        <div class="dropdown-option" data-value="BSIS">BSIS</div>
    </div>
</div>

<div class="container">
    <button class="btn btn2">SUBMIT</button>
</div>

<div class="sideicon student"><img src="{{ url_for('static', filename='images/STUDENT ICON.png') }}" width="350"></div>

<script>
    /* GENDER DROPDOWN */
    const dropdowngender = document.getElementById('gender-dropdown');
    const optionsgender = document.getElementById('gender-options');
    dropdowngender.addEventListener('click', function() {
        optionsgender.classList.toggle('show');
    });

    optionsgender.addEventListener('click', function(e) {
        if (e.target.classList.contains('dropdown-option')) {
            const selectedValue = e.target.getAttribute('data-value');
            dropdowngender.textContent = selectedValue;
            optionsgender.classList.remove('show');
        }
    });
    // Close the dropdown if the user clicks outside of it
    window.addEventListener('click', function(e) {
        if (e.target !== dropdown) {
            optionsgender.classList.remove('show');
        }
    });

    /* YEAR LEVEL DROPDOWN */
    const dropdownylevel = document.getElementById('ylevel-dropdown');
    const optionsylevel = document.getElementById('ylevel-options');
    dropdownylevel.addEventListener('click', function() {
        optionsylevel.classList.toggle('show');
    });

    optionsylevel.addEventListener('click', function(e) {
        if (e.target.classList.contains('dropdown-option')) {
            const selectedValue = e.target.getAttribute('data-value');
            dropdownylevel.textContent = selectedValue;
            optionsylevel.classList.remove('show');
        }
    });
    // Close the dropdown if the user clicks outside of it
    window.addEventListener('click', function(e) {
        if (e.target !== dropdown) {
            optionsylevel.classList.remove('show');
        }
    });

    /* COURSE DROPDOWN */
    const dropdowncourse = document.getElementById('course-dropdown');
    const optionscourse = document.getElementById('course-options');
    dropdowncourse.addEventListener('click', function() {
        optionscourse.classList.toggle('show');
    });

    optionscourse.addEventListener('click', function(e) {
        if (e.target.classList.contains('dropdown-option')) {
            const selectedValue = e.target.getAttribute('data-value');
            dropdowncourse.textContent = selectedValue;
            optionscourse.classList.remove('show');
        }
    });
    // Close the dropdown if the user clicks outside of it
    window.addEventListener('click', function(e) {
        if (e.target !== dropdown) {
            optionscourse.classList.remove('show');
        }
    });
</script>

{% endblock %}  