{% extends "base.html" %}
{% block title %}SSIS | COLLEGE{% endblock title %}
{% block content %}

<div class="sidenav">
    <ul>
        <div class="nav-logo">
            <img src="{{ url_for('static', filename='images/Student-Info Logo.png') }}"> 
            <p>STUDENT INFORMATION SYSTEM</p>
        </div>
        <a href="{{ url_for('index') }}">
            <li class="icon-bg">
                <img src="{{ url_for('static', filename='images/Home.png') }}"> 
                <p>Home</p>
            </li>
        </a>    
        <li class="selected-icon-bg">
            <img src="{{ url_for('static', filename='images/College.png') }}"> 
            <p>College</p>
        </li>
        <a href="{{ url_for('course.course_list') }}">
            <li class="icon-bg">
                <img src="{{ url_for('static', filename='images/Course.png') }}"> 
                <p>Course</p>
            </li>
        </a>
        <a href="{{ url_for('student.student_list') }}">
            <li class="icon-bg">
                <img src="{{ url_for('static', filename='images/Student.png') }}"> 
                <p>Student</p>
            </li>
        </a>
    </ul>
</div>

<div class="navbar add">
    <div class="back-icon">
        <a href="{{ url_for('college.college_list') }}">
            <img src="{{ url_for('static', filename='images/back-icon.png') }}">
        </a>
    </div>
    <p>ADD COLLEGE</p>
</div>

<!-- ADD COLLEGE FORM -->
<form action="/college/add/" method="POST" onsubmit="return validateForm()">
    {{ college_form.csrf_token }}
    <div class="inputBox code">
        <input type="text" required="required" name="college_code" id="college_code">
        <span>CODE</span>
    </div>
    <div class="inputBox name">
        <input type="text" required="required" name="college_name" id="college_name">
        <span>NAME</span>
    </div>
    <div class="container">
        <button class="btn btn1" type="submit">SUBMIT</button>
    </div>
</form>

<div class="sideicon">
    <img src="{{ url_for('static', filename='images/COLLEGE ICON.png') }}" width="380">
</div>

{% if success %}
    <div id="successModal" class="modal" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Success</h1>
                </div>
                <div class="modal-body">
                    College added successfully!
                </div>
                <a href="{{ url_for('college.college_list') }}">
                    <div class="modal-footer">
                        <button type="button" class="btn-done">DONE</button>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% elif error %}
    <div id="errorModal" class="modal" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Error</h1>
                </div>
                <div class="modal-body">
                    Unable to add, college already exists.
                </div>
                <a href="{{ url_for('college.college_list') }}">
                    <div class="modal-footer">
                        <button type="button" class="btn-done">OKAY</button>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endif %}

<script>
    function validateForm() {
        var codeInput = document.getElementById("college_code");
        var nameInput = document.getElementById("college_name");
        
        var codeLength = codeInput.value.length;
        var nameLength = nameInput.value.length;

        if (codeLength < 3 || codeLength > 50) {
            alert("College code should be between 3 and 50 characters.");
            return false;
        }

        if (nameLength < 10 || nameLength > 100) {
            alert("College name should be between 10 and 100 characters.");
            return false;
        }

        return true;
    }
</script>

{% endblock %}  