{% extends "base.html" %}
{% block title %}SSIS | COURSE{% endblock title %}
{% block content %}

<!-- NAVIGATION -->
<nav>
    <ul>
        <li><a href="{{ url_for('college.college_list') }}">COLLEGE</a></li>
        <li class="current tab"><a href="{{ url_for('course.course_list') }}">COURSE</a></li>
        <li><a href="{{ url_for('student.student_list') }}">STUDENT</a></li>
    </ul>
</nav>

<div class="entity bg"></div>
<div class="back-icon"><a href="{{ url_for('course.course_list') }}"><img src="{{ url_for('static', filename='images/back-icon.png') }}"></a></div>
<div class="entity heading">ADD COURSE</div>

<!-- ADD COURSE FORM -->
<form action="/course/add/" method="POST">
    {{ course_form.csrf_token }}
    <div class="inputBox code">
        <input type="text" required="required" name="course_code">
        <span>CODE</span>
    </div>
    <div class="inputBox name">
        <input type="text" required="required" name="course_name">
        <span>NAME</span>
    </div>

    <div class="custom-select college">
        <select name="college_code" id="college-options" required style="
        width: 450px;
        height: 40px;
        border-radius: 5px;
        background-color: #FF84B1;
        border: 2px solid #FF84B1;
        color: #FFFFFF;
        font-size: 16px;
        padding: 5px;
        outline: none;
        cursor: pointer;">
            <option value="" selected disabled style="color: gainsboro; background-color: white;">COLLEGE</option>
            {% for college_code in college_codes %}
                <option value="{{college_code}}" data-value="{{college_code}}" style="
                color: black; 
                background-color: white;
                height: 40px;
                ">{{college_code}}</option>
            {% endfor %}
        </select>
    </div>    
    <div class="container">
        <button class="btn btn3" id="submit-button" type="submit">SUBMIT</button>
    </div>
    <p class="message-text success course" id="success_message">
        {% if success_message %}
            {{ success_message }}
        {% endif %}
    </p>
    <p class="message-text error course" id="error_message">
        {% if error_message %}
            {{ error_message }}
        {% endif %}
    </p>
</form>

<div class="sideicon"><img src="{{ url_for('static', filename='images/COURSE ICON.png') }}" width="350"></div>

{% endblock %}  