{% extends "base.html" %}

{% block content %}
<nav>
    <ul>
        <li class="current tab"><a href="{{ url_for('college') }}">COLLEGE</a></li>
        <li><a href="{{ url_for('course') }}">COURSE</a></li>
        <li><a href="{{ url_for('student') }}">STUDENT</a></li>
    </ul>
</nav>

<a href="{{ url_for('add_college') }}">
    <div class="collegeaddrect"></div>
    <div class="addtext">ADD COLLEGE</div>
    <div class="addicon"><img src="{{ url_for('static', filename='images/add-icon.png') }}"></div>
</a>

<a href="{{ url_for('college_list') }}">
    <div class="collegelistrect"></div>
    <div class="listtext">LIST</div>
    <div class="listicon"><img src="{{ url_for('static', filename='images/list-icon.png') }}"></div>
</a>
{% endblock %}  