{% extends "base.html" %}
{% block title %}SSIS | COLLEGE{% endblock title %}
{% block content %}

<nav>
    <ul>
        <li class="current tab"><a href="{{ url_for('college.index') }}">COLLEGE</a></li>
        <li><a href="{{ url_for('course.index') }}">COURSE</a></li>
        <li><a href="{{ url_for('student.index') }}">STUDENT</a></li>
    </ul>
</nav>

<h3 class="header">LIST OF COLLEGES</h3>

<div class="search-container">
    <form method="POST" action="/college/search/" id="search-form">
        <input name="csrf_token" value="{{ csrf_token() }}" hidden />
        <div class="search-bar">
            <input type="text" name="query" id="search" placeholder="SEARCH">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
    </form>
</div>

<a href="{{ url_for('college.add_college') }}" class="custom-add-button">+ ADD COLLEGE</a>

<div class="table-container" id="results-container">
    <table>
        <tr>
            <th>CODE</th>
            <th>NAME</th>
            <th>ACTION</th>
        </tr>
        {% for college in colleges %}
        <tr>
            <td>{{ college[0] }}</td>
            <td>{{ college[1] }}</td>
            <td>
                <!-- EDIT -->
                <form method="GET" action="/college/edit">
                    <input id="college_code" name="college_code" value="{{ college[0] }}" hidden>
                    <input id="college_name" name="college_name" value="{{ college[1] }}" hidden>
                    <button type="submit" class="custom-edit-button">EDIT</button>
                </form>

                <!-- DELETE -->
                <form method="POST" action="/college/delete/">
                    <input name="csrf_token" value="{{ csrf_token() }}" hidden />
                    <input type="hidden" name="college_code" value="{{ college[0] }}" hidden>
                    <input type="hidden" name="college_name" value="{{ college[1] }}" hidden>
                    <button type="submit" class="custom-delete-button">DELETE</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>   

<!-- <script>
    document.addEventListener('DOMContentLoaded', function() {
        const searchForm = document.getElementById('search-form');
        const resultsContainer = document.getElementById('results-container');

        searchForm.addEventListener('submit', function(event) {
            event.preventDefault();

            const formData = new FormData(searchForm);

            fetch(searchForm.action, {
                method: 'POST',
                body: formData,
            })
            .then(response => response.text())
            .then(data => {
                resultsContainer.innerHTML = data;
            });
        });
    });
</script> -->

{% endblock %}  