{% extends "base.html" %}
{% block title %}SSIS | COLLEGE{% endblock title %}
{% block content %}

<nav>
    <ul>
        <li class="current tab"><a href="{{ url_for('college.index') }}">COLLEGE</a></li>
        <li><a href="{{ url_for('course.index') }}">COURSE</a></li>
        <li><a href="{{ url_for('student.index') }}">STUDENT</a></li>
    </ul>
</nav>

<a href="{{ url_for('college.add_college') }}">
    <div class="college-add-rect"></div>
    <div class="add-text">ADD COLLEGE</div>
    <div class="add-icon"><img src="{{ url_for('static', filename='images/add-icon.png') }}"></div>
</a>

<a href="{{ url_for('college.college_list') }}">
    <div class="college-list-rect"></div>
    <div class="list-text">LIST</div>
    <div class="list-icon"><img src="{{ url_for('static', filename='images/list-icon.png') }}"></div>
</a>

{% endblock %}  