{% extends "base.html" %}
{% block title %}SSIS | CONFIRM DELETION{% endblock title %}
{% block content %}

<div class="delete-redirect bg"></div>
<h2 style="text-align: center; top: 240px; position: relative;">SUCCESS</h2>   

{% if context == "college" %}
    <h4 style="text-align: center; top: 270px; position: relative;">College was deleted successfully! Please check the list for updates</h4>
    <a href="{{ url_for('college.college_list') }}" class="btn redirect">RETURN</a>

{% elif context == "course" %}
    <h4 style="text-align: center; top: 270px; position: relative;">Course was deleted successfully! Please check the list for updates</h4>
    <a href="{{ url_for('course.course_list') }}" class="btn redirect">RETURN</a>

{% elif context == "student" %}
    <h4 style="text-align: center; top: 270px; position: relative;">Student information was deleted successfully! Please check the list for updates</h4>
    <a href="{{ url_for('student.student_list') }}" class="btn redirect">RETURN</a>

{% else %}
    <a href="{{ url_for('base.html') }}" class="btn redirect">GO BACK</a>

{% endif %}

{% endblock %}  