{% extends "base.html" %}
{% block title %}SSIS | COURSE{% endblock title %}
{% block content %}

<nav>
    <ul>
        <li><a href="{{ url_for('college.index') }}">COLLEGE</a></li>
        <li class="current tab"><a href="{{ url_for('course.index') }}">COURSE</a></li>
        <li><a href="{{ url_for('student.index') }}">STUDENT</a></li>
    </ul>
</nav>

<h3 class="header">LIST OF COURSES</h3>
<div class="search-bar">
    <input type="text" placeholder="SEARCH">
    <button type="submit"><i class="fa fa-search"></i></button>
</div>
<a href="{{ url_for('course.add_course') }}" class="custom-add-button">+ ADD COURSE</a>

<div class="table-container">
    <table>
        <tr>
            <th>CODE</th>
            <th>NAME</th>
            <th>COLLEGE</th>
            <th>ACTION</th>
        </tr>
        {% for course in courses %}
        <tr>
            <td>{{ course[0] }}</td>
            <td>{{ course[1] }}</td>
            <td>{{ course[2] }}</td>
            <td>
                <a href="{{ url_for('course.course_edit') }}" class="custom-edit-button" style="margin-right: 60px;">EDIT</a>
                <a href="{{ url_for('course.course_delete') }}" class="custom-delete-button">DELETE</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}  