{% extends "base.html" %}
{% block title %}SSIS | COURSE{% endblock title %}
{% block content %}

<!-- NAVIGATION -->
<nav>
    <ul>
        <li><a href="{{ url_for('college.college_list') }}">COLLEGE</a></li>
        <li class="current tab"><a href="{{ url_for('course.course_list') }}">COURSE</a></li>
        <li><a href="{{ url_for('student.student_list') }}">STUDENT</a></li>
    </ul>
</nav>

<!-- SEARCH -->
<div class="search-container">
    <form method="POST" action="/course/search/" id="search-form">
        <input name="csrf_token" value="{{ csrf_token() }}" hidden />
        <div class="search-bar">
            <input type="text" name="query" id="search" placeholder="SEARCH">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>

        <input type="hidden" name="selectedField" id="selectedField">
        <div class="custom-dropdown search">
            <div class="dropdown-select search" id="search-dropdown">ALL</div>
            <div class="dropdown-options" id="search-options">
                <div class="dropdown-option" data-value="CODE">CODE</div>
                <div class="dropdown-option" data-value="NAME">NAME</div>
                <div class="dropdown-option" data-value="COLLEGE">COLLEGE</div>
            </div>
        </div>
    </form>
</div>

<!-- ADD -->
<a href="{{ url_for('course.add_course') }}" class="custom-add-button">+ ADD COURSE</a>

<!-- COURSE LIST -->
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>CODE</th>
                <th>NAME</th>
                <th>COLLEGE</th>
                <th colspan="2">ACTION</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
        <tr>
            <td>{{ course[0] }}</td>
            <td>{{ course[1] }}</td>
            <td>{{ course[2] }}</td>
            <td>
                <!-- EDIT -->
                <form method="GET" action="/course/edit">
                    <input id="course_code" name="course_code" value="{{ course[0] }}" hidden>
                    <input id="course_name" name="course_name" value="{{ course[1] }}" hidden>

                    <div class="custom-select college">
                        <select hidden name="college_code" id="college_code" required style="
                        width: 450px;
                        height: 40px;
                        border-radius: 5px;
                        background-color: #FF84B1;
                        border: 2px solid #FF84B1;
                        color: #FFFFFF;
                        font-size: 16px;
                        padding: 5px;
                        outline: none;
                        cursor: pointer;">
                            <option value="{{ course[2] }}" selected style="color: gainsboro; background-color: white;">{{ course[2] }}</option>
                            {% for college_code in college_codes %}
                                <option value="{{college_code}}" data-value="{{college_code}}" style="
                                color: black; 
                                background-color: white;
                                height: 40px;
                                ">{{college_code}}</option>
                            {% endfor %}
                        </select>
                    </div>    
                    <button type="submit" class="custom-edit-button">EDIT</button>
                </form>
            </td>
            <td>
                <!-- DELETE -->
                <form method="POST" action="/course/delete/">
                    <input name="csrf_token" value="{{ csrf_token() }}" hidden />
                    <input type="hidden" name="course_code" value="{{ course[0] }}">
                    <input type="hidden" name="course_name" value="{{ course[1] }}">
                    <input type="hidden" name="college_code" value="{{ course[2] }}">
                    <button type="submit" class="custom-delete-button" data-confirm="By clicking delete, you acknowledge that the information will be deleted.">DELETE</button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script>
    // SEARCH
    const dropdownsearch = document.getElementById('search-dropdown');
    const optionsearch = document.getElementById('search-options');
    let selectedField = null; 

    dropdownsearch.addEventListener('click', function() {
        optionsearch.classList.toggle('show');
    });

    optionsearch.addEventListener('click', function(e) {
        if (e.target.classList.contains('dropdown-option')) {
            selectedField = e.target.getAttribute('data-value'); 
            dropdownsearch.textContent = selectedField;
            optionsearch.classList.remove('show');
            document.getElementById('selectedField').value = selectedField;
        }
    });

    document.addEventListener('click', function(e) {
        if (e.target !== dropdownsearch && e.target !== optionsearch) {
            optionsearch.classList.remove('show');
        }
    });

    // DELETE
    const deleteButtons = document.querySelectorAll('.custom-delete-button');

    deleteButtons.forEach((button) => {
        button.addEventListener('click', function (event) {

            event.preventDefault();

            const confirmationMessage = this.getAttribute('data-confirm');

            if (window.confirm(confirmationMessage)) {

                this.closest('form').submit();
            } else {
                
            }
        });
    });
</script>

{% endblock %}  