{% extends "base.html" %}
{% block title %}SSIS | COURSE{% endblock title %}
{% block content %}
<nav>
    <ul>
        <li><a href="{{ url_for('college') }}">COLLEGE</a></li>
        <li class="current tab"><a href="{{ url_for('course') }}">COURSE</a></li>
        <li><a href="{{ url_for('student') }}">STUDENT</a></li>
    </ul>
</nav>

<a href="{{ url_for('add_course') }}">
    <div class="courseaddrect"></div>
    <div class="addtext">ADD COURSE</div>
    <div class="addicon"><img src="{{ url_for('static', filename='images/add-icon.png') }}"></div>
</a>

<a href="{{ url_for('course_list') }}">
    <div class="courselistrect"></div>
    <div class="listtext">LIST</div>
    <div class="listicon"><img src="{{ url_for('static', filename='images/list-icon.png') }}"></div>
</a>
{% endblock %}  