{% extends "base.html" %}
{% block title %}SSIS | COURSE{% endblock title %}
{% block content %}

<nav>
    <ul>
        <li><a href="{{ url_for('college.index') }}">COLLEGE</a></li>
        <li class="current tab"><a href="{{ url_for('course.index') }}">COURSE</a></li>
        <li><a href="{{ url_for('student.index') }}">STUDENT</a></li>
    </ul>
</nav>

<h3 class="header">LIST OF COURSES</h3>
<div class="search-bar">
    <input type="text" placeholder="SEARCH">
    <button type="submit"><i class="fa fa-search"></i></button>
</div>
<a href="{{ url_for('course.add_course') }}" class="custom-add-button">+ ADD COURSE</a>

<div class="table-container">
    <table>
        <tr>
            <th>CODE</th>
            <th>NAME</th>
            <th>COLLEGE</th>
            <th>ACTION</th>
        </tr>
        {% for course in courses %}
        <tr>
            <td>{{ course[0] }}</td>
            <td>{{ course[1] }}</td>
            <td>{{ course[2] }}</td>
            <td>
                <!-- EDIT -->
                <form method="GET" action="/course/edit">
                    <input id="course_code" name="course_code" value="{{ course[0] }}" hidden>
                    <input id="course_name" name="course_name" value="{{ course[1] }}" hidden>

                    <div class="custom-select college">
                        <select hidden name="college_code" id="college_code" required style="
                        width: 450px;
                        height: 40px;
                        border-radius: 5px;
                        background-color: #FF84B1;
                        border: 2px solid #FF84B1;
                        color: #FFFFFF;
                        font-size: 16px;
                        padding: 5px;
                        outline: none;
                        cursor: pointer;">
                            <option value="{{ course[2] }}" selected style="color: gainsboro; background-color: white;">{{ course[2] }}</option>
                            {% for college_code in college_codes %}
                                <option value="{{college_code}}" data-value="{{college_code}}" style="
                                color: black; 
                                background-color: white;
                                height: 40px;
                                ">{{college_code}}</option>
                            {% endfor %}
                        </select>
                    </div>    

                    <button type="submit" class="custom-edit-button">EDIT</button>
                </form>

                <!-- DELETE -->
                <form method="POST" action="/course/delete/">
                    <input type="hidden" name="course_code" value="{{ course[0] }}">
                    <input type="hidden" name="course_name" value="{{ course[1] }}">
                    <input type="hidden" name="college_code" value="{{ course[2] }}">
                    <button type="submit" class="custom-delete-button">DELETE</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}  