{% extends "base.html" %}
{% block title %}SSIS{% endblock title %}
{% block content %}

<div class="delete-redirect bg"></div>
<h2 style="text-align: center; top: 240px; position: relative;">UNSUCCESSFUL UPDATE</h2>  

<!-- ADD ERROR MESSAGE -->
{% if context == "college" %}
    <h4 style="text-align: center; top: 270px; position: relative;">Unable to save changes, college already exists.</h4>
    <a href="{{ url_for('college.college_list') }}" class="btn redirect">RETURN</a>

{% elif context == "course" %}
    <h4 style="text-align: center; top: 270px; position: relative;">Unable to save changes, course already exists.</h4>
    <a href="{{ url_for('course.course_list') }}" class="btn redirect">RETURN</a>

{% elif context == "student" %}
    <h4 style="text-align: center; top: 270px; position: relative;">Unable to save changes, student already exists.</h4>
    <a href="{{ url_for('student.student_list') }}" class="btn redirect">RETURN</a>

{% endif %}

{% endblock %}  