{% extends "base.html" %}
{% block title %}SSIS | STUDENT{% endblock title %}
{% block content %}

<!-- NAVIGATION -->
<div class="sidenav">
    <ul>
        <div class="nav-logo">
            <img src="{{ url_for('static', filename='images/Student-Info Logo.png') }}"> 
            <p>STUDENT INFORMATION SYSTEM</p>
        </div>
        <a href="{{ url_for('index') }}">
            <li class="icon-bg">
                <img src="{{ url_for('static', filename='images/Home.png') }}"> 
                <p>Home</p>
            </li>
        </a>  
        <a href="{{ url_for('college.college_list') }}">
            <li class="icon-bg">
                <img src="{{ url_for('static', filename='images/College.png') }}"> 
                <p>College</p>
            </li>
        </a>
        <a href="{{ url_for('course.course_list') }}">
            <li class="icon-bg">
                <img src="{{ url_for('static', filename='images/Course.png') }}"> 
                <p>Course</p>
            </li>
        </a>
        <li class="selected-icon-bg">
            <img src="{{ url_for('static', filename='images/Student.png') }}"> 
            <p>Student</p>
        </li>
    </ul>
</div>

<div class="navbar add">
    <div class="back-icon">
        <a href="{{ url_for('student.student_list') }}">
            <img src="{{ url_for('static', filename='images/back-icon.png') }}">
        </a>
    </div>
    <p>EDIT STUDENT INFORMATION</p>
</div>

<!-- ADD STUDENT FORM -->
<form action="{{ url_for('student.student_edit') }}" method="POST" enctype="multipart/form-data">
    <input name="csrf_token" value="{{ csrf_token() }}" hidden />

    <!-- STUDENT ID -->
    <div class="inputBox id">
        <input disabled name="studentID" value="{{ student['studentID'] }}">
        <input hidden name="studentID" value="{{ student['studentID'] }}" >
    </div>

    <!-- FIRST NAME -->
    <div class="inputBox fname">
        <input type="text" required="required" name="first_name" value="{{ student['firstName'] }}">
        <span>FIRST NAME</span>
    </div>

    <!-- LAST NAME -->
    <div class="inputBox lname">
        <input type="text" required="required" name="last_name" value="{{ student['lastName'] }}">
        <span>LAST NAME</span>
    </div>

    <!-- COURSE -->
    <div class="custom-select course">
        <select name="course_code" id="course_code" required style="
        width: 450px;
        height: 40px;
        border-radius: 5px;
        background-color: #FF84B1;
        border: 2px solid #FF84B1;
        color: #FFFFFF;
        font-size: 16px;
        padding: 5px;
        outline: none;
        cursor: pointer;">
            <option value="{{ student['course']}}" selected style="color: gainsboro; background-color: white;">{{ student['course'] }}</option>
            {% for course_code in course_codes %}
                <option value="{{course_code}}" data-value="{{course_code}}" style="
                color: black; 
                background-color: white;
                height: 40px;
                ">{{course_code}}</option>
            {% endfor %}
        </select>
    </div>    

    <!-- YEAR LEVEL -->
    <input type="hidden" name="year_level" id="selectedYLevel" value="{{ student['yearlevel'] }}">
    <div class="custom-dropdown yearlevel">
        <div class="dropdown-select" id="ylevel-dropdown">{{ student['yearlevel'] }}</div>
        <div class="dropdown-options" id="ylevel-options">
            <div class="dropdown-option" data-value="1ST YEAR">1ST YEAR</div>
            <div class="dropdown-option" data-value="2ND YEAR">2ND YEAR</div>
            <div class="dropdown-option" data-value="3RD YEAR">3RD YEAR</div>
            <div class="dropdown-option" data-value="4TH YEAR">4TH YEAR</div>
        </div>
    </div>

    <!-- GENDER -->
    <input type="hidden" name="gender" id="selectedGender" value="{{ student['gender'] }}">
    <div class="custom-dropdown gender">
        <div class="dropdown-select" id="gender-dropdown">{{ student['gender'] }}</div>
        <div class="dropdown-options" id="gender-options">
            <div class="dropdown-option" data-value="FEMALE">FEMALE</div>
            <div class="dropdown-option" data-value="MALE">MALE</div>
        </div>
    </div>

    <div class="profile">
        {% if student and student['profilePhoto'] %}
            <img src="{{ url_for('static', filename='images/' + student['profilePhoto']) }}" id="profile-pic">
        {% else %}
            <img src="{{ url_for('static', filename='images/Default-profile.png') }}" id="profile-pic">
        {% endif %}
    </div>
    <div class="upload-image">
        <input type="file" accept="image/jpeg, image/png, image/jpg" id="input-file" name="input-file" style="display: none;">
        <label for="input-file">
            <img src="{{ url_for('static', filename='images/Upload-image.png') }}">
        </label>
    </div>

    <div class="container">
        <button class="btn btn2" type="submit" value="Submit">UPDATE</button>
    </div>
</form>

{% if success %}
    <div id="successModal" class="modal" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Success</h1>
                </div>
                <div class="modal-body">
                    Student information updated successfully!
                </div>
                <a href="{{ url_for('student.student_list') }}">
                    <div class="modal-footer">
                        <button type="button" class="btn-done">DONE</button>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% elif error %}
    <div id="errorModal" class="modal" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Error</h1>
                </div>
                <div class="modal-body">
                    Unable to save changes. Please try again.
                </div>
                <a href="{{ url_for('student.student_list') }}">
                    <div class="modal-footer">
                        <button type="button" class="btn-done">OKAY</button>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endif %}

<script>
    /* GENDER DROPDOWN */
    const dropdowngender = document.getElementById('gender-dropdown');
    const optionsgender = document.getElementById('gender-options');
    let selectedGender = null; 

    dropdowngender.addEventListener('click', function() {
        optionsgender.classList.toggle('show');
    });

    optionsgender.addEventListener('click', function(e) {
        if (e.target.classList.contains('dropdown-option')) {
            selectedGender = e.target.getAttribute('data-value'); 
            dropdowngender.textContent = selectedGender;
            optionsgender.classList.remove('show');
            document.getElementById('selectedGender').value = selectedGender;
        }
    });

    document.addEventListener('click', function(e) {
        if (e.target !== dropdowngender && e.target !== optionsgender) {
            optionsgender.classList.remove('show');
        }
    });

    /* YEAR LEVEL DROPDOWN */
    const dropdownylevel = document.getElementById('ylevel-dropdown');
    const optionsylevel = document.getElementById('ylevel-options');
    let selectedYLevel = null; 

    dropdownylevel.addEventListener('click', function() {
        optionsylevel.classList.toggle('show');
    });

    optionsylevel.addEventListener('click', function(e) {
        if (e.target.classList.contains('dropdown-option')) {
            selectedYLevel = e.target.getAttribute('data-value'); 
            dropdownylevel.textContent = selectedYLevel;
            optionsylevel.classList.remove('show');
            document.getElementById('selectedYLevel').value = selectedYLevel;
        }
    });

    document.addEventListener('click', function(e) {
        if (e.target !== dropdownylevel && e.target !== optionsylevel) {
            optionsylevel.classList.remove('show');
        }
    });

    /* PROFILE PICTURE*/
    let profilePic = document.getElementById("profile-pic")
    let inputFile = document.getElementById("input-file")

    inputFile.onchange = function() {
        profilePic.src = URL.createObjectURL(inputFile.files[0])
    }
</script>

{% endblock %}  