{% extends "base.html" %}
{% block title %}SSIS | STUDENT{% endblock title %}
{% block content %}

<!-- NAVIGATION -->
<nav>
    <ul>
        <li><a href="{{ url_for('college.college_list') }}">COLLEGE</a></li>
        <li><a href="{{ url_for('course.course_list') }}">COURSE</a></li>
        <li class="current tab"><a href="{{ url_for('student.student_list') }}">STUDENT</a></li>
    </ul>
</nav>

<div class="entity bg"></div>
<div class="back-icon"><a href="{{ url_for('student.student_list') }}"><img src="{{ url_for('static', filename='images/back-icon.png') }}"></a></div>
<div class="entity heading">EDIT STUDENT INFORMATION</div>

<!-- ADD STUDENT FORM -->
<form action="{{ url_for('student.student_edit') }}" method="POST">
    <input name="csrf_token" value="{{ csrf_token() }}" hidden />

    <!-- STUDENT ID -->
    <div class="inputBox id">
        <input disabled name="studentID" value="{{ id }}">
        <input hidden name="studentID" value="{{ id }}" >
    </div>

    <!-- FIRST NAME -->
    <div class="inputBox fname">
        <input type="text" required="required" name="first_name" value="{{ fname }}">
        <span>FIRST NAME</span>
    </div>

    <!-- LAST NAME -->
    <div class="inputBox lname">
        <input type="text" required="required" name="last_name" value="{{ lname }}">
        <span>LAST NAME</span>
    </div>

    <!-- COURSE -->
    <div class="custom-select course">
        <select name="course_code" id="course_code" required style="
        width: 450px;
        height: 40px;
        border-radius: 5px;
        background-color: #FF84B1;
        border: 2px solid #FF84B1;
        color: #FFFFFF;
        font-size: 16px;
        padding: 5px;
        outline: none;
        cursor: pointer;">
            <option value="{{ course }}" selected style="color: gainsboro; background-color: white;">{{ course }}</option>
            {% for course_code in course_codes %}
                <option value="{{course_code}}" data-value="{{course_code}}" style="
                color: black; 
                background-color: white;
                height: 40px;
                ">{{course_code}}</option>
            {% endfor %}
        </select>
    </div>    

    <!-- YEAR LEVEL -->
    <input type="hidden" name="year_level" id="selectedYLevel" value="{{ ylevel }}">
    <div class="custom-dropdown yearlevel">
        <div class="dropdown-select" id="ylevel-dropdown">{{ ylevel }}</div>
        <div class="dropdown-options" id="ylevel-options">
            <div class="dropdown-option" data-value="1ST YEAR">1ST YEAR</div>
            <div class="dropdown-option" data-value="2ND YEAR">2ND YEAR</div>
            <div class="dropdown-option" data-value="3RD YEAR">3RD YEAR</div>
            <div class="dropdown-option" data-value="4TH YEAR">4TH YEAR</div>
        </div>
    </div>

    <!-- GENDER -->
    <input type="hidden" name="gender" id="selectedGender" value="{{ sex }}">
    <div class="custom-dropdown gender">
        <div class="dropdown-select" id="gender-dropdown">{{ sex }}</div>
        <div class="dropdown-options" id="gender-options">
            <div class="dropdown-option" data-value="FEMALE">FEMALE</div>
            <div class="dropdown-option" data-value="MALE">MALE</div>
        </div>
    </div>

    <div class="container">
        <button class="btn btn2">UPDATE</button>
    </div>
</form>

<div class="sideicon student"><img src="{{ url_for('static', filename='images/STUDENT ICON.png') }}" width="350"></div>

<script>
    /* GENDER DROPDOWN */
    const dropdowngender = document.getElementById('gender-dropdown');
    const optionsgender = document.getElementById('gender-options');
    let selectedGender = null; 

    dropdowngender.addEventListener('click', function() {
        optionsgender.classList.toggle('show');
    });

    optionsgender.addEventListener('click', function(e) {
        if (e.target.classList.contains('dropdown-option')) {
            selectedGender = e.target.getAttribute('data-value'); 
            dropdowngender.textContent = selectedGender;
            optionsgender.classList.remove('show');
            document.getElementById('selectedGender').value = selectedGender;
        }
    });

    document.addEventListener('click', function(e) {
        if (e.target !== dropdowngender && e.target !== optionsgender) {
            optionsgender.classList.remove('show');
        }
    });

    /* YEAR LEVEL DROPDOWN */
    const dropdownylevel = document.getElementById('ylevel-dropdown');
    const optionsylevel = document.getElementById('ylevel-options');
    let selectedYLevel = null; 

    dropdownylevel.addEventListener('click', function() {
        optionsylevel.classList.toggle('show');
    });

    optionsylevel.addEventListener('click', function(e) {
        if (e.target.classList.contains('dropdown-option')) {
            selectedYLevel = e.target.getAttribute('data-value'); 
            dropdownylevel.textContent = selectedYLevel;
            optionsylevel.classList.remove('show');
            document.getElementById('selectedYLevel').value = selectedYLevel;
        }
    });

    document.addEventListener('click', function(e) {
        if (e.target !== dropdownylevel && e.target !== optionsylevel) {
            optionsylevel.classList.remove('show');
        }
    });
</script>

{% endblock %}  