{% extends "base.html" %}
{% block title %}SSIS | COLLEGE{% endblock title %}
{% block content %}

<!-- NAVIGATION -->
<div class="sidenav">
    <ul>
        <div class="nav-logo">
            <img src="{{ url_for('static', filename='images/Student-Info Logo.png') }}"> 
            <p>STUDENT INFORMATION SYSTEM</p>
        </div>
        <a href="{{ url_for('index') }}">
            <li class="icon-bg">
                <img src="{{ url_for('static', filename='images/Home.png') }}"> 
                <p>Home</p>
            </li>
        </a>    
        <li class="selected-icon-bg">
            <img src="{{ url_for('static', filename='images/College.png') }}"> 
            <p>College</p>
        </li>
        <a href="{{ url_for('course.course_list') }}">
            <li class="icon-bg">
                <img src="{{ url_for('static', filename='images/Course.png') }}"> 
                <p>Course</p>
            </li>
        </a>
        <a href="{{ url_for('student.student_list') }}">
            <li class="icon-bg">
                <img src="{{ url_for('static', filename='images/Student.png') }}"> 
                <p>Student</p>
            </li>
        </a>
    </ul>
</div>

<div class="navbar add">
    <div class="back-icon">
        <a href="{{ url_for('college.college_list') }}">
            <img src="{{ url_for('static', filename='images/back-icon.png') }}">
        </a>
    </div>
    <p>EDIT COLLEGE INFORMATION</p>
</div>

<!-- EDIT COLLEGE FORM -->
<form action="{{ url_for('college.college_edit') }}" method="POST">
    <input name="csrf_token" value="{{ csrf_token() }}" hidden />
    <div class="inputBox code">
        <input disabled name="college_code" value="{{ code }}">
        <input hidden name="college_code" value="{{ code }}" >
    </div>
    <div class="inputBox name">
        <input type="text" required="required" name="college_name" value="{{ name }}">
        <span>NAME</span>
    </div>
    <div class="container">
        <button class="btn btn1" type="submit">UPDATE</button>
    </div>
</form>

<div class="sideicon">
    <img src="{{ url_for('static', filename='images/COLLEGE ICON.png') }}" width="380">
</div>

{% if success %}
    <div id="successModal" class="modal" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Success</h1>
                </div>
                <div class="modal-body">
                    College information updated successfully!
                </div>
                <a href="{{ url_for('college.college_list') }}">
                    <div class="modal-footer">
                        <button type="button" class="btn-done">DONE</button>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% elif error %}
    <div id="errorModal" class="modal" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Error</h1>
                </div>
                <div class="modal-body">
                    Unable to save changes. Please try again.
                </div>
                <a href="{{ url_for('college.college_list') }}">
                    <div class="modal-footer">
                        <button type="button" class="btn-done">OKAY</button>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}  