{% extends "base.html" %}
{% block title %}SSIS | COURSE{% endblock title %}
{% block content %}

<!-- NAVIGATION -->
<nav>
    <ul>
        <li><a href="{{ url_for('college.index') }}">COLLEGE</a></li>
        <li class="current tab"><a href="{{ url_for('course.index') }}">COURSE</a></li>
        <li><a href="{{ url_for('student.index') }}">STUDENT</a></li>
    </ul>
</nav>

<div class="entity bg"></div>
<div class="backicon"><a href="{{ url_for('course.course_list') }}"><img src="{{ url_for('static', filename='images/back-icon.png') }}"></a></div>
<div class="entity heading">EDIT COURSE INFORMATION</div>

<!-- EDIT COURSE FORM -->
<div class="inputBox code">
    <input type="text" required="required">
    <span>CODE</span>
</div>

<div class="inputBox name">
    <input type="text" required="required">
    <span>NAME</span>
</div>

<div class="custom-dropdown college">
    <div class="dropdown-select college" id="college-dropdown">COLLEGE</div>
    <div class="dropdown-options" id="college-options">
        <div class="dropdown-option" data-value="CCS">CCS</div>
        <div class="dropdown-option" data-value="CON">CON</div>
    </div>
</div>

<div class="container">
    <button class="btn btn3">SUBMIT</button>
</div>

<div class="sideicon"><img src="{{ url_for('static', filename='images/COURSE ICON.png') }}" width="350"></div>

<script>
    /* COLLEGE DROPDOWN */
    const dropdowncollege = document.getElementById('college-dropdown');
    const optionscollege = document.getElementById('college-options');
    dropdowncollege.addEventListener('click', function() {
        optionscollege.classList.toggle('show');
    });

    optionscollege.addEventListener('click', function(e) {
        if (e.target.classList.contains('dropdown-option')) {
            const selectedValue = e.target.getAttribute('data-value');
            dropdowncollege.textContent = selectedValue;
            optionscollege.classList.remove('show');
        }
    });
    // Close the dropdown 
    window.addEventListener('click', function(e) {
        if (e.target !== dropdown) {
            optionscollege.classList.remove('show');
        }
    });
</script>

{% endblock %}  