{% extends "base.html" %}
{% block title %}SSIS | COURSE{% endblock title %}
{% block content %}

<!-- NAVIGATION -->
<nav>
    <ul>
        <li><a href="{{ url_for('college.index') }}">COLLEGE</a></li>
        <li class="current tab"><a href="{{ url_for('course.index') }}">COURSE</a></li>
        <li><a href="{{ url_for('student.index') }}">STUDENT</a></li>
    </ul>
</nav>

<div class="entity bg"></div>
<div class="backicon"><a href="{{ url_for('course.course_list') }}"><img src="{{ url_for('static', filename='images/back-icon.png') }}"></a></div>
<div class="entity heading">EDIT COURSE INFORMATION</div>

<!-- EDIT COURSE FORM -->
<form action="{{ url_for('course.course_edit') }}" method="POST">
    <input name="csrf_token" value="{{ csrf_token() }}" hidden />

    <!-- COURSE CODE -->
    <div class="inputBox code">
        <input disabled name="course_code" value="{{ code }}">
        <input hidden name="course_code" value="{{ code }}" >
    </div>

    <!-- COURSE NAME -->
    <div class="inputBox name">
        <input type="text" required="required" name="course_name" value="{{ name }}">
        <span>NAME</span>
    </div>

    <!-- COLLEGE CODE -->
    <div class="custom-select college">
        <select name="college_code" id="college_code" required style="
        width: 450px;
        height: 40px;
        border-radius: 5px;
        background-color: #FF84B1;
        border: 2px solid #FF84B1;
        color: #FFFFFF;
        font-size: 16px;
        padding: 5px;
        outline: none;
        cursor: pointer;">
            <option value="{{ college }}" selected style="color: gainsboro; background-color: white;">{{ college }}</option>
            {% for college_code in college_codes %}
                <option value="{{college_code}}" data-value="{{college_code}}" style="
                color: black; 
                background-color: white;
                height: 40px;
                ">{{college_code}}</option>
            {% endfor %}
        </select>
    </div>    
    
    <div class="container">
        <button class="btn btn3">UPDATE</button>
    </div>
    
    <p class="message-text success course" id="success_message">
        {% if success_message %}
            {{ success_message }}
        {% endif %}
    </p>
    <p class="message-text error course" id="error_message">
        {% if error_message %}
            {{ error_message }}
        {% endif %}
    </p>
</form>

<div class="sideicon"><img src="{{ url_for('static', filename='images/COURSE ICON.png') }}" width="350"></div>

{% endblock %}  