{% extends "base.html" %}
{% block title %}SSIS | COLLEGE{% endblock title %}
{% block content %}

<!-- NAVIGATION -->
<nav>
    <ul>
        <li class="current tab"><a href="{{ url_for('college.college_list') }}">COLLEGE</a></li>
        <li><a href="{{ url_for('course.course_list') }}">COURSE</a></li>
        <li><a href="{{ url_for('student.student_list') }}">STUDENT</a></li>
    </ul>
</nav>

<div class="entity bg"></div>
<div class="back-icon"><a href="{{ url_for('college.college_list') }}"><img src="{{ url_for('static', filename='images/back-icon.png') }}"></a></div>
<div class="entity heading">EDIT COLLEGE INFORMATION</div>

<!-- EDIT COLLEGE FORM -->
<form action="{{ url_for('college.college_edit') }}" method="POST">
    <input name="csrf_token" value="{{ csrf_token() }}" hidden />
    <div class="inputBox code">
        <input disabled name="college_code" value="{{ code }}">
        <input hidden name="college_code" value="{{ code }}" >
    </div>
    <div class="inputBox name">
        <input type="text" required="required" name="college_name" value="{{ name }}">
        <span>NAME</span>
    </div>
    <div class="container">
        <button class="btn btn1" type="submit">UPDATE</button>
    </div>
</form>

<div class="sideicon"><img src="{{ url_for('static', filename='images/COLLEGE ICON.png') }}" width="350"></div>

{% endblock %}  