<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSIS | Home</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;0,900;1,300&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <a href="home.html">
            <div class="logo style"></div>
            <div class="main logo">STUDENT INFORMATION SYSTEM</div>
        </a>
    </header>

    <a href="student.html">
            <div class="left rectangle"></div>
            <div class="s title text">STUDENT</div>
            <div class="s icon"><img src="images/STUDENT ICON.png" width="300"></div>
    </a>


    <a href="college.html">
        <div class="right rectangle college"></div>
        <div class="college title text">COLLEGE</div>
        <div class="college icon"><img src="images/COLLEGE ICON.png" width="230"></div>
    </a>
    
    <a href="course.html">
        <div class="right rectangle course"></div>
        <div class="course title text">COURSE</div>
        <div class="course icon"><img src="images/COURSE ICON.png" width="230"></div>
    </a>

    <footer>
        <div class="footer rect">Copyright © 2023 Paragoso</div>
    </footer>
</body>
</html>