{% extends "base.html" %}
{% block title %}SSIS | STUDENT{% endblock title %}
{% block content %}

<nav>
    <ul>
        <li><a href="{{ url_for('college.index') }}">COLLEGE</a></li>
        <li> <a href="{{ url_for('course.index') }}">COURSE</a></li>
        <li class="current tab"><a href="{{ url_for('student.index') }}">STUDENT</a></li>
    </ul>
</nav>

<a href="{{ url_for('student.add_student') }}">
    <div class="student-add-rect"></div>
    <div class="add-text">ADD STUDENT</div>
    <div class="add-icon"><img src="{{ url_for('static', filename='images/add-icon.png') }}"></div>
</a>

<a href="{{ url_for('student.student_list') }}">
    <div class="student-list-rect"></div>
    <div class="list-text">LIST</div>
    <div class="list-icon"><img src="{{ url_for('static', filename='images/list-icon.png') }}"></div>
</a>

{% endblock %}  