{% extends "base.html" %}
{% block title %}SSIS | STUDENT{% endblock title %}
{% block content %}

<nav>
    <ul>
        <li><a href="{{ url_for('college.index') }}">COLLEGE</a></li>
        <li> <a href="{{ url_for('course.index') }}">COURSE</a></li>
        <li class="current tab"><a href="{{ url_for('student.index') }}">STUDENT</a></li>
    </ul>
</nav>

<h3 class="header">LIST OF STUDENTS</h3>

<div class="search-container">
    <form method="POST" action="/student/search/" id="search-form">
        <input name="csrf_token" value="{{ csrf_token() }}" hidden />
        <div class="search-bar">
            <input type="text" name="query" id="search" placeholder="SEARCH">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
    </form>
</div>

<a href="{{ url_for('student.add_student') }}" class="custom-add-button">+ ADD STUDENT</a>

<div class="table-container">
    <table>
        <tr>
            <th>STUDENT ID</th>
            <th>FIRST NAME</th>
            <th>LAST NAME</th>
            <th>COURSE</th>
            <th>YEAR</th>
            <th>GENDER</th>
            <th>ACTION</th>
        </tr>
        {% for student in students %}
        <tr>
            <td>{{ student[0] }}</td>
            <td>{{ student[1] }}</td>
            <td>{{ student[2] }}</td>
            <td>{{ student[3] }}</td>
            <td>{{ student[4] }}</td>
            <td>{{ student[5] }}</td>
            <td>
                <!-- EDIT -->
                <form method="GET" action="/student/edit">
                    <input id="studentID" name="studentID" value="{{ student[0] }}" hidden>
                    <input id="first_name" name="first_name" value="{{ student[1] }}" hidden>
                    <input id="last_name" name="last_name" value="{{ student[2] }}" hidden>
                    <input id="course_code" name="course_code" value="{{ student[3] }}" hidden>
                    <input id="year_level" name="year_level" value="{{ student[4] }}" hidden>
                    <input id="gender" name="gender" value="{{ student[5] }}" hidden>

                    <button type="submit" class="custom-edit-button">EDIT</button>
                </form>

                <!-- DELETE -->
                <form method="POST" action="/student/delete/">
                    <input name="csrf_token" value="{{ csrf_token() }}" hidden />
                    <input id="studentID" name="studentID" value="{{ student[0] }}" hidden>
                    <input id="first_name" name="first_name" value="{{ student[1] }}" hidden>
                    <input id="last_name" name="last_name" value="{{ student[2] }}" hidden>
                    <input id="course_code" name="course_code" value="{{ student[3] }}" hidden>
                    <input id="year_level" name="year_level" value="{{ student[4] }}" hidden>
                    <input id="gender" name="gender" value="{{ student[5] }}" hidden>

                    <button type="submit" class="custom-delete-button">DELETE</button>
                </form>
            </td>

        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}  