{% extends "base.html" %}
{% block title %}SSIS | STUDENT{% endblock title %}
{% block content %}

<!-- NAVIGATION -->
<div class="sidenav">
    <ul>
        <div class="nav-logo">
            <img src="{{ url_for('static', filename='images/Student-Info Logo.png') }}"> 
            <p>STUDENT INFORMATION SYSTEM</p>
        </div>
        <a href="{{ url_for('index') }}">
            <li class="icon-bg">
                <img src="{{ url_for('static', filename='images/Home.png') }}"> 
                <p>Home</p>
            </li>
        </a>  
        <a href="{{ url_for('college.college_list') }}">
            <li class="icon-bg">
                <img src="{{ url_for('static', filename='images/College.png') }}"> 
                <p>College</p>
            </li>
        </a>
        <a href="{{ url_for('course.course_list') }}">
            <li class="icon-bg">
                <img src="{{ url_for('static', filename='images/Course.png') }}"> 
                <p>Course</p>
            </li>
        </a>
        <li class="selected-icon-bg">
            <img src="{{ url_for('static', filename='images/Student.png') }}"> 
            <p>Student</p>
        </li>
    </ul>
</div>

<div class="navbar">
    <p>STUDENT</p>
</div>

<!-- SEARCH -->
<div class="search-container">
    <form method="POST" action="/student/search/" id="search-form">
        <input name="csrf_token" value="{{ csrf_token() }}" hidden />
        <div class="search-bar">
            <input type="text" name="query" id="search" placeholder="SEARCH">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>

        <input type="hidden" name="selectedField" id="selectedField">
        <div class="custom-dropdown search">
            <div class="dropdown-select search" id="search-dropdown">ALL</div>
            <div class="dropdown-options" id="search-options">
                <div class="dropdown-option" data-value="STUDENT ID">STUDENT ID</div>
                <div class="dropdown-option" data-value="FIRST NAME">FIRST NAME</div>
                <div class="dropdown-option" data-value="LAST NAME">LAST NAME</div>
                <div class="dropdown-option" data-value="COURSE">COURSE</div>
                <div class="dropdown-option" data-value="YEAR LEVEL">YEAR LEVEL</div>
                <div class="dropdown-option" data-value="GENDER">GENDER</div>
                <div class="dropdown-option" data-value="COLLEGE">COLLEGE</div>
            </div>
        </div>
    </form>
</div>

<!-- ADD -->
<a href="{{ url_for('student.add_student') }}" class="custom-add-button">
    <img src="{{ url_for('static', filename='images/Add.png') }}"> 
</a>

<!-- STUDENT LIST -->
<div class="table-container student">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>STUDENT ID</th>
                <th>FIRST NAME</th>
                <th>LAST NAME</th>
                <th>COLLEGE</th>
                <th>COURSE</th>
                <th>YEAR</th>
                <th>GENDER</th>
                <th colspan="2">ACTION</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>
                    <div class="profile-display">
                        {% if student['profilePhoto'] %}
                            <img src="{{ student['profilePhoto'] }}" id="profile-pic">
                        {% else %}
                            <img src="{{ url_for('static', filename='images/Default-profile.png') }}" id="profile-pic">
                        {% endif %}
                    </div>
                </td>
                <td>{{ student['studentID'] }}</td>
                <td>{{ student['firstName'] }}</td>
                <td>{{ student['lastName'] }}</td>
                <td>{{ student['collegeCode'] }}</td>
                <td>{{ student['course'] }}</td>
                <td>{{ student['yearlevel'] }}</td>
                <td>{{ student['gender'] }}</td>
                <td>
                    <!-- EDIT -->
                    <form method="GET" action="/student/edit">
                        <input id="studentID" name="studentID" value="{{ student['studentID'] }}" hidden>
                        <button type="submit" class="custom-edit-button">
                            <img src="{{ url_for('static', filename='images/Edit.png') }}"> 
                        </button>
                    </form>
                </td>

                <td>
                    <!-- DELETE -->
                    <form method="POST" action="/student/delete/">
                        <input name="csrf_token" value="{{ csrf_token() }}" hidden />
                        <input id="studentID" name="studentID" value="{{ student['studentID'] }}" hidden>
                        <button class="custom-delete-button" data-confirm="By clicking delete, you acknowledge that the information will be removed." type="submit" >
                            <img src="{{ url_for('static', filename='images/Delete.png') }}"> 
                        </button>
                    </form>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% if success %}
    <div id="successModal" class="modal" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Success</h1>
                </div>
                <div class="modal-body">
                    Student information was deleted successfully!
                </div>
                <a href="{{ url_for('student.student_list') }}">
                    <div class="modal-footer">
                        <button type="button" class="btn-done">DONE</button>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% elif error %}
    <div id="errorModal" class="modal" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Error</h1>
                </div>
                <div class="modal-body">
                    Error in deleting student information. Please try again.
                </div>
                <a href="{{ url_for('student.student_list') }}">
                    <div class="modal-footer">
                        <button type="button" class="btn-done">OKAY</button>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endif %}

<script>
    // SEARCH
    const dropdownsearch = document.getElementById('search-dropdown');
    const optionsearch = document.getElementById('search-options');
    let selectedField = null; 

    dropdownsearch.addEventListener('click', function() {
        optionsearch.classList.toggle('show');
    });

    optionsearch.addEventListener('click', function(e) {
        if (e.target.classList.contains('dropdown-option')) {
            selectedField = e.target.getAttribute('data-value'); 
            dropdownsearch.textContent = selectedField;
            optionsearch.classList.remove('show');
            document.getElementById('selectedField').value = selectedField;
        }
    });

    document.addEventListener('click', function(e) {
        if (e.target !== dropdownsearch && e.target !== optionsearch) {
            optionsearch.classList.remove('show');
        }
    });

    // DELETE
    const deleteButtons = document.querySelectorAll('.custom-delete-button');

    deleteButtons.forEach((button) => {
        button.addEventListener('click', function (event) {

            event.preventDefault();

            const confirmationMessage = this.getAttribute('data-confirm');

            if (window.confirm(confirmationMessage)) {

                this.closest('form').submit();
            } else {
                
            }
        });
    });
</script>

{% endblock %}  