{% extends "base.html" %}
{% block title %}SSIS | STUDENT{% endblock title %}
{% block content %}

<!-- NAVIGATION -->
<nav>
    <ul>
        <li><a href="{{ url_for('college.college_list') }}">COLLEGE</a></li>
        <li> <a href="{{ url_for('course.course_list') }}">COURSE</a></li>
        <li class="current tab"><a href="{{ url_for('student.student_list') }}">STUDENT</a></li>
    </ul>
</nav>

<!-- SEARCH -->
<div class="search-container">
    <form method="POST" action="/student/search/" id="search-form">
        <input name="csrf_token" value="{{ csrf_token() }}" hidden />
        <div class="search-bar">
            <input type="text" name="query" id="search" placeholder="SEARCH">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>

        <input type="hidden" name="selectedField" id="selectedField">
        <div class="custom-dropdown search">
            <div class="dropdown-select search" id="search-dropdown">ALL</div>
            <div class="dropdown-options" id="search-options">
                <div class="dropdown-option" data-value="STUDENT ID">STUDENT ID</div>
                <div class="dropdown-option" data-value="FIRST NAME">FIRST NAME</div>
                <div class="dropdown-option" data-value="LAST NAME">LAST NAME</div>
                <div class="dropdown-option" data-value="COURSE">COURSE</div>
                <div class="dropdown-option" data-value="YEAR LEVEL">YEAR LEVEL</div>
                <div class="dropdown-option" data-value="GENDER">GENDER</div>
                <div class="dropdown-option" data-value="COLLEGE">COLLEGE</div>
            </div>
        </div>
    </form>
</div>

<!-- ADD -->
<a href="{{ url_for('student.add_student') }}" class="custom-add-button">+ ADD STUDENT</a>

<!-- STUDENT LIST -->
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>STUDENT ID</th>
                <th>FIRST NAME</th>
                <th>LAST NAME</th>
                <th>COURSE</th>
                <th>YEAR</th>
                <th>GENDER</th>
                <th>COLLEGE</th>
                <th colspan="2">ACTION</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student[0] }}</td>
                <td>{{ student[1] }}</td>
                <td>{{ student[2] }}</td>
                <td>{{ student[3] }}</td>
                <td>{{ student[4] }}</td>
                <td>{{ student[5] }}</td>
                <td>{{ student[6] }}</td>

                <td>
                    <!-- EDIT -->
                    <form method="GET" action="/student/edit">
                        <input id="studentID" name="studentID" value="{{ student[0] }}" hidden>
                        <input id="first_name" name="first_name" value="{{ student[1] }}" hidden>
                        <input id="last_name" name="last_name" value="{{ student[2] }}" hidden>
                        <input id="course_code" name="course_code" value="{{ student[3] }}" hidden>
                        <input id="year_level" name="year_level" value="{{ student[4] }}" hidden>
                        <input id="gender" name="gender" value="{{ student[5] }}" hidden>
                        <button type="submit" class="custom-edit-button">EDIT</button>
                    </form>
                </td>

                <td>
                    <!-- DELETE -->
                    <form method="POST" action="/student/delete/">
                        <input name="csrf_token" value="{{ csrf_token() }}" hidden />
                        <input id="studentID" name="studentID" value="{{ student[0] }}" hidden>
                        <input id="first_name" name="first_name" value="{{ student[1] }}" hidden>
                        <input id="last_name" name="last_name" value="{{ student[2] }}" hidden>
                        <input id="course_code" name="course_code" value="{{ student[3] }}" hidden>
                        <input id="year_level" name="year_level" value="{{ student[4] }}" hidden>
                        <input id="gender" name="gender" value="{{ student[5] }}" hidden>
                        <button type="submit" class="custom-delete-button" data-confirm="By clicking delete, you acknowledge that the information will be deleted.">DELETE</button>
                    </form>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    // SEARCH
    const dropdownsearch = document.getElementById('search-dropdown');
    const optionsearch = document.getElementById('search-options');
    let selectedField = null; 

    dropdownsearch.addEventListener('click', function() {
        optionsearch.classList.toggle('show');
    });

    optionsearch.addEventListener('click', function(e) {
        if (e.target.classList.contains('dropdown-option')) {
            selectedField = e.target.getAttribute('data-value'); 
            dropdownsearch.textContent = selectedField;
            optionsearch.classList.remove('show');
            document.getElementById('selectedField').value = selectedField;
        }
    });

    document.addEventListener('click', function(e) {
        if (e.target !== dropdownsearch && e.target !== optionsearch) {
            optionsearch.classList.remove('show');
        }
    });

    // DELETE
    const deleteButtons = document.querySelectorAll('.custom-delete-button');

    deleteButtons.forEach((button) => {
        button.addEventListener('click', function (event) {

            event.preventDefault();

            const confirmationMessage = this.getAttribute('data-confirm');

            if (window.confirm(confirmationMessage)) {

                this.closest('form').submit();
            } else {
                
            }
        });
    });
</script>

{% endblock %}  